<.header>
  Tiny url <%= @tiny_url.id %>
  <:subtitle>This is a tiny_url record from your database.</:subtitle>
  <:actions></:actions>
</.header>

<.list>
  <:item title="Url"><%= @tiny_url.url %></:item>
  <:item title="Shortened url">
    <.short_url shortened_url={@tiny_url.shortened_url} />
  </:item>
  <:item title="Hashed url"><%= @tiny_url.hashed_url %></:item>
  <:item title="Hit count"><%= @tiny_url.hit_count %></:item>
</.list>

<.back navigate={~p"/stats"}>Back to Stats</.back>
